.Container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 7vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 850px) {
    .Container {
        justify-content: center;
    }
}

.Wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
}

.Title {
    color: #0055B8;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
}

.Description {
    margin-bottom: 5px;
    font-family: 'Outfit', sans-serif;
}