.App {
    display: flex;
    flex-direction: column;
    max-width: 1245px;
    margin: auto;
    margin-top: 1vh;
    gap: 100px;
    
}

@media only screen and (max-width: 500px){
    .App {
        gap: 50px;
    }
}

