.Container{
    display: block;
    max-width: 1245px;
    width: 100%;
}

.Header {
    color: #0055B8;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
}



.slick-list {
    max-height: 350px;
}

