.Photo {
    background-color: rgb(177, 177, 177);
    left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
    z-index: -1;
}
.Container {
    max-width: 1245px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.H1 {
    font-family: 'Outfit', sans-serif;
    font-size: 4rem;
    width: 40%;
    color: #0055B8;
    margin-top: 2%;
    text-transform: uppercase;
}

.H2 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    width: 60%;
    text-align: right;
    margin-left: auto;
    margin-bottom: 2%;
}

.Phone {
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
    width: 100%; 
    text-transform: uppercase;   
    color: #0055B8;
    margin-top: 70%;
}

@media only screen and (max-width: 1000px) {
    .H1 {
        font-size: 3.2rem;
        width: 60%;
    }
    .H2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    .H1 {
        font-size: 2.8rem;
        width: 80%;
    }
    .H2 {
        font-size: 0.8rem;
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .H1 {
        font-size: 1.7rem;
        width: 100%;
    }
    .H2 {
        font-size: 0.6rem;
        width: 100%;
    }
    .Photo {
        height: 50vh;
    }
    .Container {
        justify-content: center;
        align-items: center;
    }
}